examples/test-agent-with-vigil-guard.json
{
  "name": "VGE Test Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.guardedText }}",
        "options": {
          "systemMessage": "=You are an AI assistant in an automated system.\n\nRespond using plain text only. Keep formatting minimal and do not use markdown, lists, headings, tables, emojis, or special symbols.\n\nWrite short, clear sentences in natural language.\n\nUse the internal table tool only when the user explicitly asks for external or structured data. Otherwise, answer directly in text.\n\nKeep the tone neutral and factual. Avoid instructions or step-based explanations unless they are explicitly requested.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -120,
        -432
      ],
      "id": "1f593b3a-c5d1-4358-8afa-f7198b8ccd90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -432
      ],
      "id": "42675b3e-d506-45de-8084-4b6f519b909e",
      "name": "When chat message received",
      "webhookId": "00000000-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -208
      ],
      "id": "293a3fe9-db04-4797-b84c-b6cc11b3f1e2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "message": "={{ $json.guardedText }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        512,
        -432
      ],
      "id": "af8d171d-f3b0-474b-830b-96f868e59613",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "CUSTOM.vgeAidr",
      "typeVersion": 1,
      "position": [
        -400,
        -432
      ],
      "id": "f90788be-fa7e-4f9d-8504-d39c913134b3",
      "name": "VGE AIDR",
      "credentials": {
        "vgeApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "VGE API"
        }
      }
    },
    {
      "parameters": {
        "streamDirection": "output",
        "text": "={{ $json.output }}",
        "originalPrompt": "={{ $json.output }}",
        "options": {}
      },
      "type": "CUSTOM.vgeAidr",
      "typeVersion": 1,
      "position": [
        288,
        -432
      ],
      "id": "e2744061-a068-465e-82d4-76de18897d75",
      "name": "VGE AIDR1",
      "credentials": {
        "vgeApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "VGE API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Test Table",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Test",
          "mode": "name"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        80,
        -208
      ],
      "id": "23a0a4d6-dd52-47ac-a73a-5a394f74bc37",
      "name": "Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        -208
      ],
      "id": "c39e84f7-45ef-46cb-9090-9737e3ffceb2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "VGE AIDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "VGE AIDR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VGE AIDR": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VGE AIDR1": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0000000000000000000000000000000000000000000000000000000000000000"
  },
  "id": "example-workflow-id",
  "tags": []
}